body
{
	font-family: 'Roboto', sans-serif;
	color: #424242;
	caret-color: #00BCD4;
}

.sidebar
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20%;
	height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid #00BCD4;
	background-color: #fff;
}

.main
{
	padding-left: 20%;
}

.section-wrapper
{
	padding: 20px;
}

/* TYPOGRAPHY */

h1
{
	margin: 0;
	font-size: 60px;
	text-align: center;
	color: #00BCD4;
}

p
{
	line-height: 1.3em;
}

a
{
	color: #00BCD4;
	text-decoration: none;
}

a:hover
{
	color: #4DD0E1;
}

input,
button,
.caption
{
	text-transform: uppercase;
}

/* FORM */

fieldset
{
	margin: 0;
	padding: 0;
	border: 0;
	margin-bottom: 10px;
}

input
{
	border: 1px solid #00BCD4;
	border-radius: 2px;
	padding: 10px;
	outline: none;
	font-size: 12px;
    color: #00BCD4;
}

input::placeholder
{
	color: #4DD0E1;
	opacity: .7;
}

input[disabled],
input[disabled]:hover
{
	background-color: gray;
}

input[type="button"]
{
	display: none;
}

.button
{
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 10px;
	outline: none;
	font-size: 12px;
	background-color: #00BCD4;
	color: white;
}

.button:hover
{
	background-color: #4DD0E1;
}

/* MASONRY GRID CLASSES */

.grid
{
	visibility: hidden;
}

.grid-sizer,
.grid-item
{
	width: 22%;
}

.gutter-sizer
{
	width: 4%;
}

.grid-item
{
	margin-bottom: 20px;
}

/* RESULTS */

.loading
{
	text-align: center;
	font-size: 18px;
	color: #00BCD4;
	text-transform: uppercase;
}

.wrapper
{
	display: inline-block;
	margin-bottom: 20px;
}

.wrapper-inner
{
	overflow: hidden;
}

.thumbnail
{
	display: block;
	width: 100%;
}

.caption
{
	margin: 0;
	border-radius: 0 0 2px 2px;
	padding: 5px;
    background-color: #00BCD4;
	color: white;
	font-size: 10px;
}

.caption:hover
{
	background-color: #4DD0E1;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 767px){

	.sidebar
	{
		right: 0;
		width: 100%;
	}

	.main
	{
		padding: 700px 0 0 0;
	}

	.section-wrapper
	{
		padding: 0;
	}

	h1
	{
		color: #fff;
		background-color: #00BCD4;
		text-align: left;
	}

	p, 
	nav
	{
		background-color: #fff;
	}
}